/* -----------------------
name：Yeei!Dream 1.0
Powered by Yeei.cn
更多配色下载：http://www.yeei.cn/forum-54-1.html
----------------------- */
.head_yn{ width:96%;min-width: 980px;}
.c_y{ width:96%!important;min-width: 980px;}
.c_b{ width:96%!important;min-width: 980px;}